{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
        <h2 class="main-header">Наша компания</h2>
        <center>
            <p>Магазин на диване уже целый 1 час как продает высококачественные товары, которые нельзя найти в обычном
                магазине.</p>
            <h3>Наш офис</h3>
            <p>Наш офис расположен в шикарном здании, где сидят величайшие умы человечества. Если у вас есть вопросы к
                нам, приходите по адресу: г. Москва, ул. Охотный ряд, д. 1</p>
            <div class="office-map">
                <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0282d3738708dc24c5bda198620058343a804f6ba8993024e5587152632442a5&amp;width=754&amp;height=620&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </center>
        {% if feedback %}
            <div class="feedback-area">
                <h3>Отзывы о нашем магазине</h3>
                {% for feed in feedback %}
                <div class="feedback">
                    <div class="login">{{feed.login}}</div>
                    <div class="text">{{feed.feedback}}</div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <h3>Хотите написать отзыв? Переходите в низ страницы <a href="contacts"
                class="text-link">Контакты</a></h3>
{% endblock %}
