<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}&nbsp;&mdash; Магазин на&nbsp;диване</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <ul class="header-footer">

            <a class="menu-link" href="/">
                <li class="menu-item">
                    Магазин на&nbsp;диване
                </li>
            </a>
            <a class="menu-link" href="/">
                <li class="menu-item">Главная</li>
            </a>
            <a class="menu-link" href="catalog">
                <li class="menu-item">Каталог</li>
            </a>
            <a class="menu-link" href="contacts">
                <li class="menu-item">Контакты</li>
            </a>
            <a class="menu-link" href="about">
                <li class="menu-item">О&nbsp;нас</li>
            </a>

        </ul>
        {% block content %} {% endblock %}
        <ul class="header-footer">
            <li class="menu-item">Магазин на&nbsp;диване</li>
            <li class="menu-item">8(800)555-35-35</li>
            <li class="menu-item">lohotron@skam.ru</li>
        </ul>
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>