{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
         <h2 class="main-header">Контакты</h2>
        <center>
            <h3>Наш почтовый адрес и телефон</h3>
            <fieldset>
                Почта: lohotron@skam.ru <br>
                Телефон: 8(800)555-35-35
            </fieldset>

            <h3>Наш офис</h3>
            <p>Наш офис расположен в шикарном здании, где сидят величайшие умы человечества. Если у вас есть вопросы к
                нам, приходите по адресу: г. Москва, ул. Охотный ряд, д. 1</p>
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0282d3738708dc24c5bda198620058343a804f6ba8993024e5587152632442a5&amp;width=754&amp;height=620&amp;lang=ru_RU&amp;scroll=true"></script>
        </center>
        {% if feedback %}
            <div class="feedback-area">
                <h3>Отзывы о нашем магазине</h3>
                {% for feed in feedback %}
                <div class="feedback">
                    <div class="login">{{feed.login}}</div>
                    <div class="text">{{feed.feedback}}</div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <fieldset class="form">
            <legend>У вас есть жалоба или предложение? Обращайтесь!</legend>
            <form method="POST">

                Введите ваш логин <input type="text" name="login" placeholder="Например: Иван"> <br>
                Пишите свой отзыв здесь <br>
                <textarea name="feedback" id="" cols="100" rows="10"
                    placeholder="Пишите своё сочинение в этом поле"></textarea>
                <br>
                <input type="submit">
                <input type="reset">
            </form>
        </fieldset>

{% endblock %}