{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
 <h2 class="main-header">Главная</h2>
        <div class="invest">
            <img class="invest-pic" src="{{ url_for('static', filename='investor.png') }}" alt="Серьезный молодой прогрессивный бизнесмен">
        </div>
        <p class="description">
            Добро пожаловать в&nbsp;наш магазин! Неважно, где вы&nbsp;сейчас находитесь: сидите на&nbsp;диване, едете
            в&nbsp;транспорте,
            копаетесь в&nbsp;шахте&nbsp;&mdash; вы&nbsp;можете купить наши &laquo;высококачественные&raquo; товары
            в&nbsp;любое время суток из&nbsp;любого места! Попробуйте зайти в&nbsp;<a href="catalog"
                class="text-link">Каталог</a>&nbsp;&mdash; неравнодушными вы
            точно не&nbsp;останетесь)
        </p>
        <hr>
        <h2 class="main-header">Отзывы рандомных покупателей</h2>
        <p class="description">Магазин на&nbsp;диване! Для тех кто ценит качество, скорость доставки, профессионализм.
            Всегда стараюсь заказывать именно в&nbsp;этом магазине.
            Большой выбор товаров, а&nbsp;самое главное&nbsp;&mdash; не&nbsp;обманывают!
            Не&nbsp;привозят, например, не&nbsp;соответствующие товару и&nbsp;не&nbsp;подходящие мне по&nbsp;параметрам
            товары.
            И&nbsp;это для этого магазина большая редкость!
            Поэтому я&nbsp;и&nbsp;рекомендую магазин всем своим знакомым.</p>
        <hr>
{% endblock %}