{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
        <h2 class="main-header">Каталог</h2>
        <div class="catalog-items">
            {% for item in items %}
            <div class="item-card">
                <a class="item-text" href="product/{{item.id}}">
                    <div class="card-img" aria-label="Preview of Whizzbang Widget" style="background-image: url({{ url_for('static', filename='/img/item_' + item.id|string + '.png') }})">
                    </div>
                    <div class="card-content">
                        <h3 class="name">{{item.name}}</h3>
                        <h3 class="price">{{item.price}} Р</h3>
                        <p class="description">{{item.description}}
                        </p>
                        <i>Артикул: {{item.id}}</i>
                    </div>
                </a>
                <div class="card-button">
                    <a class="btn-1" href="/product/{{item.id}}/buy_one">В корзину</a>
                </div>


            </div>
            {% endfor %}
        </div>
{% endblock %}