{% extends "base.html" %}
{% block title %}{{item.name}}{% endblock %}
{% block content %}
 <p><i><a onclick="history.back()">Вернуться к каталогу</a></i></p>
        <h2 class="main-header">{{item.name}}</h2>
        <div class="staff-blocks">
            <div class="staff-pic">
                <img class="staff-pic-img" src="{{ url_for('static', filename='/img/item_' + item.id|string + '.png') }}" alt="{{item.name}}">
            </div>
            <div class="staff-price">
                <h3>{{item.price}} Р<br></h3>
                <h3>В корзине: {{count}}</h3>
                <div class="button-item">

                        {% if count == 0 %}
                        <a href="/product/{{item.id}}/buy_one" class="btn-1">В корзину</a>
                        {% else %}
                        <a href="/product/{{item.id}}/buy_one" class="btn btn-success"> Добавить еще 1 </a>
                        <a href="/product/{{item.id}}/del_item" class="btn btn-danger">Убрать из корзины </a>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="staff-descr">
            <h5>{{item.description}}</h5>
                <i>Артикул: {{item.id}}</i>
        </div>
{% endblock %}