{% extends "base.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="shopcart">
    <h2>Корзина: {{items|length}} шт. / Итого: {{ttl_order_price}} р.</h2>
    {% if items|length < 1 %}
    <h3>Пока что в вашей корзине пусто. Чтобы это исправить, зайдите в <a href="catalog"
                class="text-link">Каталог</a> :)</h3>
    {% else %}
    <div class="catalog-items">
            {% for item in items %}
            <div class="item-card">
                <a class="item-text" href="product/{{item.id}}">
                    <div class="card-img" aria-label="Preview of Whizzbang Widget" style="background-image: url({{ url_for('static', filename='/img/item_' + item.id|string + '.png') }})">
                    </div>
                    <div class="card-content">
                        <h3 class="name">{{item.name}}</h3>
                        <h3 class="price">Цена за 1: {{item.price}} Р</h3>
                        <h3 class="ttl_price">Итого: {{item.ttl_price}} Р</h3>
                        <h3 class="count">{{item.count}} шт.</h3>
                        <i>Артикул: {{item.id}}</i>
                    </div>
                </a>
                <div class="card-button">
                    <a href="/shopcart/{{item.id}}/del_item" class="btn btn-warning">Удалить</a>
                </div>


            </div>
            {% endfor %}
    </div>
    <div class="total-order-price" style="margin-bottom:10px;">
        <h2>Корзина: {{items|length}} шт. / Итого: {{ttl_order_price}} р.</h2>
        {% if address|length < 1 %}
        <h3>Похоже, вы еще не добавили свой адрес, поэтому мы пока не сможем оформить Ваш заказ.
            Но, нажав нижнюю кнопку, вы сможете это исправить :)</h3>
        <a href="/add_address" class="btn btn-primary" style="margin-bottom:5px;">Добавить адрес</a>
        {% else %}
        <form method="post">
            <h3>Выберите адрес доставки</h3>
            {% for i in address %}
                <input type="radio" name="options" value="{{i.id}}">{{i.country}}, {{i.city}}, {{i.street}}, д. {{i.house}}, эт. {{i.floor}}, кв. {{i.flat}}</input><br>
            {% endfor %}
            <input type="submit" style="margin-top: 10px;" class="buy btn btn-success" value="Оформить заказ">
        </form>

    </div>


    {% endif %}



    {% endif %}
</div>
{% endblock %}